@model  List<DAO.LecturerDAO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DAO.YearDAO> lstYears = (List<DAO.YearDAO>)ViewBag.lstYears;
}

<div class="row">
    <div class="col-5">
        <div class="form-group">
            <label for="email">Giáo viên:</label>
            <select class="form-control" id="GV">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value='@Model[i].id'>@Model[i].HoTen</option>
                }
            </select>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
        <label for="email">Năm:</label>
        <select class="form-control" id="Nam">
            @for (int i = 0; i < lstYears.Count; i++)
            {
                <option value='@lstYears[i].id'>@lstYears[i].TenNamHoc</option>
            }
        </select>
    </div>
</div>
    <div class="col-2 mt-4">
        <button class="btn btn-primary btnSearch">Tìm kiếm</button>
    </div>
</div>
<div class="d-flex justify-content-end pr-5 mb-2">
    <button class="btn btn-danger btnExport">Export to Excel</button>
    
</div>
<div id="data-table">
</div>
<script>
    var urlTb='/HuongDan/_DanhSach'
    $(document).ready(function () {
        $("#GV,#Nam").select2();
    })

    $(".btnSearch").click(function () {
        Features.doPost('/HuongDan/_DanhSach',{
            "MaGV": +$("#GV").val(),
            "MaNamHoc":+$("#Nam").val()
        },false,'data-table')
    })

    $(".btnExport").click(function () {
        Features.exportToExcel('dataTable', document.getElementById('select2-GV-container').innerHTML);
    })
</script>